@font-face {
    font-family: Aldrich;
    font-style: normal;
    font-weight: 400;
    src: local('Aldrich Regular'), local('Aldrich-Regular'), url(https://fonts.gstatic.com/s/aldrich/v8/MCoTzAn-1s3IGyJMVacY3w.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

body {
    padding: 0;
    font-family: Aldrich, sans-serif;
    background: url('http://localhost:8001/static/gmps/img/bg2.jpg');
    height:900px;
}

#bgimg {
    position: relative;
    min-height: 50vh;
    padding: 0px;
}

.bg-theme-color-blue {
    background: #88186E;
    color: #fff;
    padding: 0px;
}


.navbar {
    background-color: #fff;
    border-radius: 0;
    padding: 0
}

#myNavbar ul li a,
#myNavbar ul li a:hover {
    padding: 10px 25px
}

.nav>li>a:focus {
    text-decoration: none;
    background: 0 0
}

#myNavbar ul li a:hover,
.activeMenu {
    color: #fff !important;
    background-color: #88186E !important;
    border-radius: 100px;
}

#myNavbar ul li.activeMenu a{   
    color: #fff !important;
}

.heading {
    font-size: 30px;
    font-weight: bolder
}

.bold1,
.bold2 {
    font-weight: 700
}

#myNavbar ul li a {
    color: #000
}

.bold1 {
    font-size: 20px
}

.bold2 {
    color: #88186E;
    font-size: 60px
}

#followus,
#quicklinks {
    margin-top: 1%
}

#quicklinks h5 {
    padding-left: 5px
}

#quicklinks ul {
    padding-left: 0 !important;
    list-style-type: none;
    margin-top: 10px
}

#quicklinks ul li {
    display: inline-block;
    padding: 1px 10px
}

#quicklinks ul li:after {
    content: "/";
    padding-left: 20px
}

#quicklinks ul li:last-child {
    display: inline-block;
    border-right: 0;
    padding-right: 10px;
    padding-top: 15px
}

#quicklinks ul li:last-child:after {
    content: ""
}

#quicklinks ul li a {
    color: #fff;
    text-decoration: none
}

#followus span {
    font-size: larger;
    margin-right: 10px;
    border-radius: 100%
}

.panel-heading {
    background: 0 0 !important;
    border: 0 !important
}

.shortnote {
    height: 530px
}

.round {
    -webkit-border-top-left-radius: 1px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-top-left: 1px;
    -moz-border-radius-top-right: 2px;
    -moz-border-radius-bottom-right: 3px;
    -moz-border-radius-bottom-left: 4px;
    border-radius: 1px 2px 3px 4px
}

.container1 {
    max-width: 1170px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.container1 .gallery img {
    float: left;
    width: 20%;
    height: 300px !important;
    border: 5px solid #fff;
    -webkit-transition: -webkit-transform .15s ease;
    -moz-transition: -moz-transform .15s ease;
    -o-transition: -o-transform .15s ease;
    -ms-transition: -ms-transform .15s ease;
    transition: transform .15s ease;
    position: relative
}

.container1 .gallery img:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 5
}

.container1 .gallery img.big {
    width: 40%
}

.align-center {
    text-align: center
}

.clear {
    clear: both;
    float: none;
    width: 100%
}

.icon-bar {
    background-color: #fff
}

.text-white {
    color: #fff !important;
}

.border-bottom {
    border-bottom: 1px solid #eeeeee !important;
}

.bg-white {
    background-color: #fff;
}
.text-magenta {
    color: #88186E;
}

.bg-magenta {
    background: #88186E;
}

.mask.rgba-indigo-light {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
}

.mt-30 {
    margin-top:30px;
}
.pt-5 {
    padding-top: 10px !important;
}

.pb-5{
    padding-bottom: 10px !important;
}

.m-0 {
    margin: 0px !important;
}

.mt-30 {
    margin-top: 30px;
}

.min-vh {
    min-height: 70vh;
}