<header id="heaer" class="header">
    <div class="header-top border-bottom sm-text-center p-0 bg-theme-color-blue">
        <div class="container pt-5 pb-5">
            <div class="row">
                <div class="col-md-6 sm-text-center">
                    <div class="widget no-border m-0">
                        <ul class="list-inline xs-text-center m-0">
                            <li class="m-0 pl-10 pr-10">
                                <a href="#" class="text-white"><i class="fa fa-envelope-o mr-5"></i>
                                    gangaschool2007@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar bg-white" style="margin-bottom:0px;">
        <div class="container" style="padding:0px">
            <div class="navbar-header" style="margin-right:0px;margin-left:0px;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}"
                    style="display: inline-block;padding:0px 20px;">
                    <h3 class="header-text">GMPS</h3>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right menu" style="margin:7.5px -15px">
                    <li class="{{ home_page }}"><a href="{% url 'index' %}">HOME</a></li>
                    <li class="{{ about_page }}"><a href="{% url 'about' %}">ABOUT US</a></li>
                    <li class="{{ admission_page }}"><a href="{% url 'admission' %}">ADMISSION</a></li>
                    <li class="{{ career_page }}"><a href="{% url 'career' %}">CAREER</a></li>
                    <li class="{{ result_page }}"><a href="{% url 'result' %}">RESULT</a></li>
                    <li class="{{ gallery_page }}"><a href="{% url 'gallery' %}">GALLERY</a></li>
                    <li class="{{ contact_page }}"><a href="{% url 'contact' %}">CONTACT US</a></li>
                    <!-- <li><a href="https://erp.gangaschool.in">STAFF LOGIN</a></li> -->
                </ul>
            </div>
        </div>
    </nav>
</header>