{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- Content here -->
    <div class="container bg-white min-vh" style="padding:30px 0px">
        <h3 class="text-center">ADMISSION</h3>
        <div class="container-fluid">
           <div class="row">
               <div class="col-md-9">
           <p  style="text-align:justify">
               Offline registrations for admission to the Academic session 2018-19.
           </p>
           <p  style="text-align:justify">
               Thank you for showing interest in your own school. The Admission Team at The Ganga Memorial Public School will help you with the admissions process and all related formalities. We look forward to welcoming you and your family to our warm, well knit, and happy educational group.
           </p>
           <p style="text-align:justify">
               We make every effort and have procedures in place to identify the needs of all prospective students prior to admission, so they may access and benefit from the curriculum on offer. 
           </p>
           <p>
               Please get in touch with the Admissions team. 
           </p>
           <p>
               <a href="resources/ADMISSION%20FORM.pdf" download>Click here</a> to download the admission form. 
           </p>
           <div>
               Do remember
               <ul>
                   <li style="text-align:justify">Applicants from all backgrounds, nationalities and education systems will be considered.</li>
                   <li style="text-align:justify">An acceptance of admission at The Ganga Memorial Public School signifies that you accept the school policies and agree to abide by those.</li>
               </ul>
           </div>
           <p>
               Disclaimer clause on Admissions
           </p>
           <p>
               All prospective parents should understand that:
           </p>
           <p style="text-align:justify">
               The Ganga Memorial Public School admissions process is strictly managed in order to be fair, transparent and in line with the values. 
           </p>
           <p style="text-align:justify">
               No payment of any type, except those set out in the fees schedule, will be requested by anyone associated with The Ganga Memorial Public School.
           </p>
           <div class="status">
               <h3 style="color:#F56960">Admission Now Closed</h3>
           </div>
               </div>
               <div class="col-md-3">
                   <img src="{% static 'gmps/img/closed.png' %}" class="img-responsive img-rounded" width="300"/>
               </div>
           </div>
        </div>
    </div>
{% endblock %}