{% extends "base.html" %}
{% block content %}
<!-- Content here -->
<div class="container bg-white min-vh">
    <h3 class="text-center">Contact Us</h3>
    <br>
    <div class="row">
        <div class="col-md-7">

            <form method="post" action="">
                {% csrf_token %}
                <!-- {{ form }} -->
                <div class="form-group">
                    <input type="text" name="name" placeholder="Your Name" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="email" placeholder="Your Email ID" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="mob" placeholder="Your Contact Number" class="form-control">
                </div>
                <div class="form-group">
                    <textarea name="message" rows="10" class="form-control" placeholder="Your Message"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" type="submit">SEND MESSAGE</button>
                    <button class="btn btn-default pull-right" type="reset">RESET</button>
                </div>
            </form>
        </div>

        <div class="col-md-5">
            <div class="row">
                <div class="col-md-12">
                    <!--Map Area-->
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d876.4836036492682!2d77.26548182917197!3d28.51162089890409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce13fa17e7e25%3A0xe5f89047af69a3!2sGanga+Memorial+Public+School!5e0!3m2!1sen!2sin!4v1520769988594"
                        width="400" height="220" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <!--Address Area-->
                    <h4>Address</h4>
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> 19, Jalam Mohalla , Tughlakabad Village , New
                        Delhi 110044</p>
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> 48/2, Tughlakabad Extension , New Delhi -
                        110019</p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i> Contact Number : 011-29991716</p>
                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> Email ID: gangaschool2007@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}