{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- Content here -->
    <div class="container min-vh">
        <h3 class="text-center mt-30">ABOUT US</h3>
        <div class="row">
            <div class="col-md-4">
                <img class="img-responsive img-thumbnail" src="{% static 'gmps/img/gallery0.JPG' %}" alt="gmps" style="width: 100%; height: auto"> 
            </div>
            <div class="col-md-4">
                <img class="img-responsive img-thumbnail" src="{% static 'gmps/img/gallery1.JPG' %}" alt="gmps" style="width: 100%; height: auto"> 
            </div>
            <div class="col-md-4">
                <img class="img-responsive img-thumbnail" src="{% static 'gmps/img/gallery2.JPG' %}" alt="gmps" style="width: 100%; height: auto"> 
            </div>
        </div>
    </div>
{% endblock %}