{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid min-vh">
  <!-- Video Carousal Starts -->
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active" style="height: 600px;">
        <div align="center">
          <video class="video-fluid" autoplay loop muted>
            <source src="https://mdbootstrap.com/img/video/animation-intro.mp4" type="video/mp4" />
          </video>
          <div class="mask rgba-indigo-light"></div>
        </div>
        <div class="carousel-caption">
          <h3>Ganga Memorial Public School</h3>
          <!-- <p>hello</p> -->
        </div>
      </div>
      <div class="item" style="height: 600px;">
        <!-- <img src="http://dummyimage.com/1024x552/000/fff" class="img-responsive" alt="asfds"> -->
        <video class="video-fluid" autoplay loop muted>
          <source src="https://mdbootstrap.com/img/video/Lines.mp4" type="video/mp4" />
        </video>
        <div class="mask rgba-indigo-light"></div>
        <div class="carousel-caption">
          <h3>Ganga Memorial Public School</h3>
          <!-- <p>hello.</p> -->
        </div>
      </div>
      <a class="left carousel-control" href="#carouselHelp" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carouselHelp" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!-- Video Carousal Ends -->
    <div class="container bg-white">
      <h2 class="text-magenta">Welcome to Ganga Memorial Public School</h2>
      <hr>
      <div class="row" style="padding-right:20px">
        <div class="col-md-4 text-center">
          <img src="{% static 'gmps/img/logo.png' %}" width="150" />
        </div>
        <div class="col-md-5" style="padding-top:20px;text-align:justify">
          <p>Ganga Memorial Public School was established in 2007. It is a progressive, english medium, co-educational
            school, based on Indian thoughts , culture and traditions. The School has a picturesque campus centrally at
            South East Delhi, a high profile residential........<br><br>
            <a class="btn btn-default" href="about">Read More</a>
          </p>
        </div>
        <div class="col-md-2 col-md-offset-1" style="border:1px solid">
          <h5>News &amp; Events</h5>
          <br>
          <small>No News or Event</small>
          <marquee behavior="scroll" direction="up" onmouseover="this.stop();" onmouseout="this.start();"
            style="//border:double;height:100px">

          </marquee>
        </div>
      </div>
    </div>
    <div class="container" style="//border:double;padding:20px;background-color:#fff;">
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default shortnote">
            <div class="panel-heading">
              <img src="{% static 'gmps/img/Principal_Icon.jpg' %}" width="100%" height="270px"
                style="border:none !important" /></div>
            <div class="panel-body">
              <h4>Principal 's Desk</h4>
              <p style="text-align:justify">11 years of amazing teachers, amazing students, amazing growth, amazing
                activities and an amazing parent community support !
                Without this co-operation and support, we would never be able to.............</p>
              <br>
              <a class="btn btn-default" href="about">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default shortnote">
            <div class="panel-heading"><img src="{% static 'gmps/img/missionvision.jpg' %}" width="100%"
                height="270px" /></div>
            <div class="panel-body">
              <h4>Mission &amp; Vision</h4>
              <p style="text-align:justify">Ganga Memorial mission is to form integrated women who are capable of
                responding to the challenges of life with joy and a deep faith in God, whose choices and decisions are
                guided by right values.............</p>
              <br>
              <a class="btn btn-default" href="about">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default shortnote">
            <div class="panel-heading"><img src="{% static 'gmps/img/admission.jpg' %}" width="100%" height="270px" />
            </div>
            <div class="panel-body">
              <h4>Admissions</h4>
              <p style="text-align:justify">
                Click on Read More to know more button to get details about the Admissions for the session 2018-2019
              </p>
              <br>
              <br>
              <br>

              <a class="btn btn-default" href="admission">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <h3 style="padding-left:20px;"><span>G</span>allery</h3>
        <div class="col-md-3">
          <img src="{% static 'gmps/img/gallery0.JPG' %}" style="width: 100%" class="img-rounded" />
        </div>
        <div class="col-md-3">
          <img src="{% static 'gmps/img/gallery1.JPG' %}" style="width: 100%" class="img-rounded" />
        </div>
        <div class="col-md-3">
          <img src="{% static 'gmps/img/gallery2.JPG' %}" style="width: 100%" class="img-rounded" />
        </div>
        <div class="col-md-3">
          <img src="{% static 'gmps/img/gallery3.JPG' %}" style="width: 100%" class="img-rounded" />
        </div>
        <br>
        <a class="btn btn-default" href="gallery" style="margin-left: 14px;margin-top:20px;">See More</a>
      </div>
    </div>
  </div>
  {% endblock %}