{% extends "base.html" %}
{% block content %}
    <!-- Content here -->
    <div class="container bg-white min-vh" style="padding-bottom:30px;height:288px;">
        <h3 class="text-center">RESULTS</h3>
        <div class="container-fluid">
           <div class="table-responsive">
               <table class="table table-striped table-hover table-bordered" cellpadding="20">
                   <thead class="bg-magenta" style="color:#fff;">
                       <tr>
                           <th style="padding-left:20px">Title</th>
                           <th width="20%" style="padding-left:20px">Date</th>
                       </tr>
                   </thead>
                   <tbody>
                    {% for result in resultData %}
                   <tr>
                    <td><a href="{{ result.link}}" >{{ result.linkname }}</a></td>
                    <td>{{ result.date }}</td>
                   </tr>
                   {% endfor %}
                   </tbody>
               </table>
           </div> 
        </div>
        
       </div>
{% endblock %}